Week 2
======

# Introduction to Variables and Data Types

Python, like all languages, relies on variables to store data.  That data can be stored in various "holders", called data types.  In this notebook, we will examine some of the data types found in python, how we can use them in our programming, and some basic troubleshooting.

## Data Types
We can use objects to store data in Python.  **Objects** will play an important role in our class, because they not only contain data in a specificed format, but also have associated routines which allow us to manipulate data.  You will see more of this when we start playing with strings.

Objects can come in two types, **scalar** and **non-scalar** types.  Scalars are essentially the building blocks of data types, there is no way to break a scalar down to a smaller data type.  Python has four such types.

**Int**  - Integer numbers  
**Float**  - Floating point numbers  
**Bool**  - Booleans (true, false)  
**None**  - A special data type, not often used.  More on this later.  

Let's see how each of these are used.

In [58]:
5

5

On the line above, we input 5 into a python kernel running in the terminal.  This is equivalent to:  

Opening a terminal  
Typing "python"  
Typing "5"  
and pressing Enter  

*Feel free to try this, but you can take my word for it*  

What does python tell us about this data type?

In [ ]:
type(5)

The **type** function (which is built-in to python) is an easy way to determine the data type you are dealing with.  For example:

In [1]:
type(5)

int

In [2]:
type(5.0)

float

In [3]:
3+5

8

In [4]:
type(3+5)

int

In [ ]:
3 + 5.0

In [ ]:
type(3 + 5.0)

Here we see the one of the first behaviors associated with data types.  When you add a float to an integer, then the result is a float.  There are some other mathematical operators you should know about.  We will define two **variables** i and j to discuss them.

In [59]:
i = 11.
j = 3.
print(i)
print(j)

11.0
3.0

We could have shortened the line above by typing:

In [ ]:
i,j = 11., 3.
print (i,j)

## Arithmetic Operators

Some of the built-in mathematical operators for python are shown below:

In [6]:
print(i+j)  #Addition

NameError: name 'i' is not defined

In [ ]:
i-j #subtraction

In [ ]:
i*j #multiplication

In [ ]:
i/j #division

In [ ]:
i//j #integer division  (how many whole number multiples of i fit into j)

In [ ]:
i%j  #modulo (the remainder from our integer division)

In [ ]:
i**j # i raised to the j power

You can also compare the value of two numbers:

In [ ]:
i < j  #is i less than j?

In [ ]:
i > j  #is i greater than j?

In [ ]:
i == j   #is i equal to j?

In [ ]:
i == i  #is i equal to i?

In [ ]:
i != j  #is i not equal to j?

In [ ]:
i >= j  #is i greater than or equal to j?

In [ ]:
i <= j   #is i less than or equal to j?

Python follows the usual order of mathematical operations, but these can be changed using parentheses:

In [61]:
i*j**2

99.0

In [63]:
(i*j)**2

1089.0

In [64]:
i+j**2

20.0

In [65]:
(i+j)**2

196.0

### Question

In the cell below, come up with some of your own mathematical expressions.  These should include at least one example of each of the arithematic operators above (i.e., 5 + 7. / 19.) and two examples that result in a boolean type.

## Boolean data types and operators

Note the output of these conditional statements is true or false.  These tests do not report a float or an integer, but a **boolean** data type.  This indicates whether or not a given statement is true, and is useful for many mathematical comparisons.

There are three operations you can run on boolean operators, **and**, **or** or **not**.

In [66]:
type(i<j)

bool

In [67]:
type(i>j)

bool

In [71]:
(i > j) and (i==i)

True

In [72]:
(i < j) and (i==i)

False

In [73]:
(i > j) or (i==i)

True

In [75]:
not (i==j)

True

In [76]:
not (i==i)

False

## Variables

Variables allow us to place a name on data.  In the examples above, we used *i* and *j* as variables, but the names themselves can be any length.  Consider the example from last week, using your first program.  You wrote something like:

In [80]:
print("Hello World!")

Hello World!

This could have also been done with a variable:

In [81]:
message = "Hello World! (from my variable)"
print(message)

Hello World! (from my variable)

Variables are used to name data, but don't mean anything until a value is assigned.  For example:

In [82]:
a

NameError: name 'a' is not defined

In [83]:
a = 5.

In [85]:
a

5.0

You can see that the initial evaluation of a led to an error.  We will talk more about errors throughout the semester.  Python does a decent job of telling you where an error occured.  It will report the line number, and a type.  In this case, the cell above caused a "NameError" since the variable a was not defined.

You should take care to name variables carefully.  There are certain words that must be avoided, which [can be seen as the Keywords listed here.](https://docs.python.org/3/reference/lexical_analysis.html#keywords)

The convention is to use lowercase letters, separated by underscores (_).  For example:

this_variable instead of thisvariable or ThisVariable.  Sometimes mixedCase is preferred (e.g., thisVariable), but in this class we will try to stick to the underscore notation.  For more information [visit the PEP8 style guide, which is pretty extensive.](https://www.python.org/dev/peps/pep-0008)  


## Comments

Comments, which use the \# symbol are very, very useful for making your code readable.  Code will be read many more times than it is written, and you want others to be able to understood what your code is attempting to accomplish.  

In python, you can include a comment after the \# (otherwise known as a hash or octothorpe).  This can come on the same line as an operation (as seen above with the arithmetic operators) or on a line by itself.  Below, I include an example of two sets of code.  You should determine which one is easier to read and understand.

In [87]:
a = 3.14
b = 5.8
c = (4./3.)*a*(b**3)
print(c)

816.8689066666666

In [88]:
#Routine for calculating the volume of a sphere with a given radius
pi = 3.14
radius = 5.8
volume = (4./3.)*pi*(radius**3)
print(volume)

816.8689066666666

### Question

What is the difference between "=" and "=="?  Please explain below.

### Question

Write a program that causes an error other than a "NameError" and describe its meaning below.